.specials-section {
  padding: 3rem 2rem;
  background-color: #ffffff;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.specials-header h2 {
  margin: 0;
  font-size: 3rem;
  line-height: 1;
}

.btn-primary {
  background-color: #f4ce14;
  color: #000;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ddb913;
}


.specials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
}

@media (min-width: 1024px) {
  .specials-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .specials-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .specials-header h2 {
    font-size: 2rem;
  }

  .btn-primary {
    width: 50%;
    text-align: center;
  }
}

.card {
  background-color: #edefee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #495E57;
  margin: 0;
}

.card-content .price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ee9972;
  float: right;
}

.card-content p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

.card-content .order {
  font-weight: 600;
  margin-top: auto;
}

.order-link {
  color: #495E57;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.order-link .order-icon {
  width: 20px;
  height: 20px;
}